@mixin contact-layout {

    @media only screen and (min-width: 1020px){

        .wrapper-contact {

            display: grid;
            grid-template-columns: 3fr auto minmax(600px, 3fr) auto 3fr;  
            margin-top: 12rem;
        }
    
        .wrap-content {
    
            grid-column: 3/4;
        }
    
        ul {
            list-style-type: none;
    
        }
    
        a {
            text-decoration: none;
        }
    
        h3 {
            text-align: center;
            margin-bottom: 1.5rem;
        }
    
        .question-paragraph {
    
            text-align: center;
        }
    }
  
}

section {

    @include contact-layout();
}