body .wrapper {
  background-color: var(--clr-primary-400);
  display: grid;
  grid-template-columns: 1fr 1fr minmax(600px, 6fr) 1fr 1fr;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  align-items: center;
}
body .logo {
  grid-column: 2/3;
  padding-block: 1rem;
  width: 6rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .logo img {
  width: 8rem;
  height: 4rem;
}
body .navList {
  grid-column: 3/4;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .hamburger-Container {
  display: none;
}
body .navList ul {
  list-style-type: none;
  display: flex;
  gap: 2rem;
}
body .navList a {
  text-decoration: none;
  color: var(--clr-neutral-400);
  font-weight: var(--fw-semi-bold);
}
body .navList a:hover {
  color: var(--clr-accent-50);
}
body .navList-Mobile {
  display: none;
}
body .play-now {
  background-color: var(--clr-accent-400);
  width: 75%;
  padding-inline: 0;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
body .play-now h3 {
  font-weight: var(--fw-bold);
}
@media screen and (max-width: 40rem) {
  body .wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  body .play-now {
    display: none;
  }
  body .navList a {
    display: none;
  }
  body .logo {
    width: 6rem;
    height: 4rem;
    display: flex;
    justify-content: center;
  }
  body .hamburger-Container {
    display: block;
    grid-column: 3/4;
    border: 1px solid transparent;
    width: 2rem;
    cursor: pointer;
    height: 2rem;
    background: none;
  }
  body .hamburger-Container .bar, body .hamburger-Container::before, body .hamburger-Container::after {
    content: "";
    display: block;
    margin: 6px 0px;
    width: 100%;
    height: 3px;
    background-color: var(--clr-neutral-400);
    transition: 0.4s;
  }
  body .hamburger-Container.is-active::before {
    transform: rotate(-45deg) translate(-8px, 6px);
  }
  body .hamburger-Container.is-active::after {
    transform: rotate(45deg) translate(-6px, -5px);
  }
  body .hamburger-Container.is-active .bar {
    opacity: 0;
  }
  body .navList-Mobile {
    display: flex;
    min-height: 100vh;
    width: 100%;
    z-index: 99;
    color: var(--clr-neutral-400);
    justify-content: flex-start;
    flex-direction: column;
    position: fixed;
    left: 100%;
    transition: 0.4s;
    background-color: var(--clr-primary-100);
  }
  body .navList-Mobile .play-now-mobile {
    margin-top: 3rem;
    padding-block: 10px;
    width: 80%;
    position: relative;
    left: 10%;
    background: var(--clr-accent-400);
    border-radius: 10px;
  }
  body .navList-Mobile .play-now-mobile h3 {
    padding: 0;
    font-weight: var(--fw-semi-bold);
  }
  body .navList-Mobile ul {
    list-style-type: none;
    margin-top: 2rem;
  }
  body .navList-Mobile li {
    margin-top: 2rem;
    margin-left: 1rem;
  }
  body .navList-Mobile a {
    text-decoration: none;
    color: var(--clr-neutral-400);
    font-weight: var(--fw-semi-bold);
    padding-block: 0.5rem;
    padding-right: 18rem;
    padding-left: 2rem;
    border-radius: 10px;
  }
  body .navList-Mobile a:hover {
    background: var(--clr-primary-50);
  }
  body .navList-Mobile.is-active {
    left: 0;
  }
}/*# sourceMappingURL=navStyle.css.map */